
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Tarjetas</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/dashboard/listar" routerLinkActive="active" href="#" class="nav-link link-body-emphasis" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Listar
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/agregar" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg  class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Agregar
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/editar" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Editar
        </a>
      </li>
    </ul>
    <hr>
  </div>